# General
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints/
.virtual_documents/

# OS Metadata
.DS_Store
Thumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Data and Models (Optional - typically ignored if large or generated)
*.csv

